<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
		<section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
		
	<ApplicationSettings>
		<add key="url" value="https://demowebshop.tricentis.com/"/>
         <!--Links-->
		<add key="loginlink_xpath" value="//a[@href='/login']"/>
		<add key="logoutlink_xpath" value="//a[@href='/logout']"/>
          <!--TextFeilds-->
		<add key="loginusername_xpath" value="//input[@id='Email']"/>
		<add key="loginpassword_xpath" value="//input[@id='Password']"/>

		<add key="loginbutton_xpath" value="//input[contains(@value,'Log')]"/>
		</ApplicationSettings>
	</configuration>

			